<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Register Servlet -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <!-- Login Servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <!-- Movie List Servlet -->
    <servlet>
        <servlet-name>MovieServlet</servlet-name>
        <servlet-class>servlet.MovieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieServlet</servlet-name>
        <url-pattern>/MovieServlet</url-pattern>
    </servlet-mapping>

    <!-- Seat Fetch Servlet -->
    <servlet>
        <servlet-name>SeatServlet</servlet-name>
        <servlet-class>servlet.SeatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SeatServlet</servlet-name>
        <url-pattern>/SeatServlet</url-pattern>
    </servlet-mapping>

    <!-- Booking Servlet -->
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>servlet.BookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>

    <!-- Default Page -->
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

</web-app>
